*/2 * * * * docker run -v oli_data:/usr/local/argus/data -v oli_logs:/var/log/argus -e DISCOGS_TOKEN=$DISCOGS_TOKEN_OLI -e TELEGRAM_TOKEN=$TELEGRAM_TOKEN -e TELEGRAM_ERROR_CHAT_ID=$TELEGRAM_ERROR_CHAT_ID -e TELEGRAM_CHAT_ID=$TELEGRAM_CHAT_ID_OLI -e USER=oli -t argus:latest python main.py --task crawl_async
*/2 * * * * docker run -v pa_data:/usr/local/argus/data -v pa_logs:/var/log/argus -e DISCOGS_TOKEN=$DISCOGS_TOKEN_PA -e TELEGRAM_TOKEN=$TELEGRAM_TOKEN -e TELEGRAM_ERROR_CHAT_ID=$TELEGRAM_ERROR_CHAT_ID -e TELEGRAM_CHAT_ID=$TELEGRAM_CHAT_ID_PA -e USER=pa -t argus:latest python main.py --task crawl_async
34 */6 * * * docker run -v ash_data:/usr/local/argus/data -v ash_logs:/var/log/argus -e DISCOGS_TOKEN=$DISCOGS_TOKEN_ASH -e TELEGRAM_TOKEN=$TELEGRAM_TOKEN -e TELEGRAM_ERROR_CHAT_ID=$TELEGRAM_ERROR_CHAT_ID -e TELEGRAM_CHAT_ID=$TELEGRAM_CHAT_ID_ASH -e USER=ash -t argus:latest python main.py --task crawl_async
0 0 * * * docker system prune -f --filter "until=$((24))h"
